/* This file contains variables which are defined in 6.0.x platform-ui but not in 5.3.x */
@baseBackgroundDefault: #ffffff;
@primaryColorLight: var(--allPagesPrimaryColorLight, lighten(@primaryColor, 10%));
@greyColorLighten1Default: #a8b3c5;
@darkGrey: var(--allPagesDarkGrey, #4d5466);
@greyColorLighten1Default: #a8b3c5;
@greyColorLighten1: var(--allPagesGreyColorLighten1, @greyColorLighten1Default);
@toolbarLightIconColor: var(--allPagesToolbarLightIconColor, @greyColorLighten1Default);
